/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Open+Sans:wght@300;400;600&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Lato', 'sans-serif'; */
}

html {
    scroll-behavior: smooth;
}

body {

    color: #1A1E29;
    background-color: #F6F6F6;
}


.header {
    /* border: 2px solid red; */
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    margin-top: 2px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav_logo {
    position: relative;
    font-size: 20px;
    color: #1A1E29;
    text-decoration: none;
    font-weight: 500;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar {
    display: flex;
    /* align-items: end; */
    /* justify-content: space-between; */
}

.navbar a {
    display: inline-block;
    font-size: 17px;
    color: #1A1E29;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #C9416D;
}

/* body.dark-theme {
    color: #f8dfdf;
    background-color: #1A1E29;
}

.theme-change-btn {
    font-size: 21px;
    margin-left: 29px;
    color: #F4BBC0;
    cursor: pointer;
} */

.home {
    /* border: 2px solid green; */
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10px 0;
}

.home-content {
    margin-top: 50px;
    /* border: 2px solid green; */
    max-width: 700px;
}

.home-content :where(h3, p) {
    margin-left: 120px;
}

.home-content h3 {
    font-size: 26px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.4s;

}

.home-content h3:nth-of-type(2) {
    margin-bottom: 25px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #C9416D;
}

.home-content h1 {
    font-size: 47px;
    font-weight: 620;
    margin: 7px 116px;
    opacity: 0;
    animation: slideRight 0.8s ease forwards;
    animation-delay: 0.8s;
}

.home-content p {
    margin-top: 4px;
    font-size: 20px;
    opacity: 0;
    animation: slideLeft .8s ease forwards;
    animation-delay: 0.8s;
}



@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(87px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.home-sci {
    margin-left: 120px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #1A1E29;
    color: #1A1E29;
    border-radius: 50%;
    font-size: 22px;
    margin: 20px 15px 24px 0;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft .7s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: #F8CDCD;
    color: #1A1E29;
    box-shadow: 0 0 20px #F8CDCD;
}

.btn-box {
    display: inline-flex;
    padding: 12px 29px;
    border: 2px solid #F8CDCD;
    background: transparent;
    border-radius: 42px;
    font-size: 17px;
    color: #1A1E29;
    letter-spacing: 1.2px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 114px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;

}

.btn-box:hover {
    background-color: #F8CDCD;
}


.home-img-wrapper {
    /* display: grid;
    gap: 1.7rem;
 */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 100px;
    width: 330px;
    height: 330px;
    background-color: #F8CDCD;
    position: absolute;
    right: 180px;
    top: 200px;
    background-size: cover;
    border-radius: 51% 49% 70% 30% / 57% 53% 47% 43%
}


.home-img {
    /* object-fit: fill; */
    background-color: #F8CDCD;
    left: 10px;
    width: 410px;
    height: 470px;
    /* box-shadow: 0 8px 8px 0 ; */
    border-radius: 0 0 0 100px;
}

/* .about {
    position: relative;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 15rem;
} */

.about {
    margin-top: 100px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    /* position: absolute;
    top: 100px;
    left: 180px; */
    /* padding-bottom:22px ; */
    /* padding-top:22px ; */
    margin-left: 90px;
    margin-bottom: 25px;
    margin-top: 55px;
    max-width: 370px;
    height: auto;
    width: 100%;
    border-radius: 5%;
}

.about-txt {
    /* border: 2px solid green; */
    margin-top: 20px;
    margin-right: 100px;

}

.about-txt h2 {
    font-size: 49px;
    margin: 15px 0 29px;
}

.about-txt span {
    color: #C9416D;
}

.about-txt p {
    color: #1A1E29;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

.button-box {
    display: inline-flex;
    padding: 12px 29px;
    border: 2px solid #F8CDCD;
    background: transparent;
    border-radius: 42px;
    font-size: 17px;
    color: #1A1E29;
    letter-spacing: 1.2px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 164px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: .5s;

}

.button-box:hover {
    background-color: #F8CDCD;
}

.fa-download {
    padding: 3px 5px;
}


#services {
    color: #1A1E29;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 49px;
    padding-bottom: 55px;
}

.sub-title span {
    color: #C9416D;
}

.container {
    /* border: 2px solid red; */
    padding: 90px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-gap: 55px;
    margin-top: 55px;
}

.services-list div {
    background-color: #f2f2f2;
    padding: 40px;
    font-size: 16px;
    font-weight: 19px;
    border-right: 15px;
    border-radius: 15px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 15px #F8CDCD,
        1px 1px 15px #F8CDCD;

}

.services-list i {
    font-size: 34px;
    font-weight: 570;
    margin-left: 3px;
}

/* .services-list div i {
    font-size: 26px;
    margin-left: 10px;
} */


#service-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 540;

}

.services-list div h2 {
    font-size: 26px;
    font-weight: 540;
    margin-bottom: 20px;
    margin-left: 10px;

}

.services-list div:hover {
    transform: translateY(-13px);
}

.services-list ul li {
    margin-top: 15px;
    margin-bottom: 12px;
}

.skills-section-heading {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_title {
    /* border: 2px solid green; */
    font-size: 50px;
}

.section_title span {
    color: #C9416D;
}

#skills-section {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#skills-section i {
    font-size: 30px;
    font-weight: 570;
    padding-right: 8px;
}

.skills_container {
    /* width: 600px; */
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 45px 45px;
}

.heading1 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    /* text-align: center; */
    margin-bottom: 40px;
}

.skills_header {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 0;
}

.skills_header svg {
    /* border: 2px solid red; */
    color: #ef9b9b;
    font-weight: 200;
    height: 40px;
    width: 40px;
}

.skills_title1 {
    margin-bottom: 1px;
    margin-top: 30px;
    color: #1A1E29;
    font-size: 25px;
    font-weight: 600;
}

.skills_title2 {
    margin-top: 30px;
    margin-bottom: 1px;
    color: #1A1E29;
    font-size: 25px;
    font-weight: 600;
}

.skills_subtitle {
    /* border: 2px solid red; */
    /* margin-top: 5px; */
    margin-left: 36px;
    font-size: 15px;
    font-weight: 300;
}

.skills_subtitle2 {
    margin-left: 43px;
    font-size: 15px;
    font-weight: 300;
}

h3 {
    font-size: 20px;
}

.skills_list {
    /* border: 2px solid red; */
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills_data .skills_titles {
    margin-top: 40px;
    margin-left: -10px;
    /* margin-left: 39px; */
}

.skills_titles .skills_name {
    /* margin-top: 15px; */
    font-size: 18px;
    font-weight: 600;
    /* animation: showText 0.5s 1s linear forwards; */
}

#tech-bar-frontend {
    display: none;

}

#tech-bar-backend {
    display: none;

}

@keyframes arrowdown {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes arrowup {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes barhide {
    0% {
        display: block;
    }

    100% {
        display: none;
    }
}

@keyframes barvisible {
    0% {
        display: none;
    }

    100% {
        display: block;
    }
}

/* 
@keyframes margingive {
    0% {
        margin-top: 0px;
    }

    100% {
        margin-top: 350px;
    }
}

@keyframes marginnotgive {
    0% {
        margin-top: 350px;
    }

    100% {
        margin-top: 0px;
    }
} */

.skills_bar {
    width: 600px;
    height: 7px;
    border-radius: 10px;
    background-color: #f8dfdf;
    /* transition: 6s ease-out; */
}

.progress-line-html {
    position: relative;
    border-radius: 10px;
    margin-left: -10px;
    width: 90%;
    height: 7px;
    background-color: #ef9b9b;
    animation: animate 3s ease forwards;
    /* transform: scaleX(60%); */
    transform-origin: left;
}

.progress-line-css {
    position: relative;
    border-radius: 10px;
    margin-left: -10px;
    width: 80%;
    height: 7px;
    background-color: #ef9b9b;
    animation: animate 3s ease forwards;
    /* transform: scaleX(60%); */
    transform-origin: left;
}

.progress-line-js {
    position: relative;
    border-radius: 10px;
    margin-left: -10px;
    width: 60%;
    height: 7px;
    background-color: #ef9b9b;
    animation: animate 3s ease forwards;
    /* transform: scaleX(60%); */
    transform-origin: left;
}

.progress-line-cpp {
    position: relative;
    border-radius: 10px;
    margin-left: -10px;
    width: 90%;
    height: 7px;
    background-color: #ef9b9b;
    animation: animate 3s ease forwards;
    /* transform: scaleX(60%); */
    transform-origin: left;
}

.progress-line-c {
    position: relative;
    border-radius: 10px;
    margin-left: -10px;
    width: 80%;
    height: 7px;
    background-color: #ef9b9b;
    animation: animate 3s ease forwards;
    /* transform: scaleX(60%); */
    transform-origin: left;
}

.progress-line-java {
    position: relative;
    border-radius: 10px;
    margin-left: -10px;
    width: 60%;
    height: 7px;
    background-color: #ef9b9b;
    animation: animate 3s ease forwards;
    /* transform: scaleX(60%); */
    transform-origin: left;
}

.progress-line-sql {
    position: relative;
    border-radius: 10px;
    margin-left: -10px;
    width: 70%;
    height: 7px;
    background-color: #ef9b9b;
    animation: animate 3s ease forwards;
    /* transform: scaleX(60%); */
    transform-origin: left;
}


@keyframes animate {
    0% {
        transform: scaleX(0);

    }

    100% {
        transform: scaleX(1);

    }
}

.percent-label-cont {
    width: 600px;

}

#html,
#cpp {
    text-align: right;
    width: 90%;
    animation: animate 3s ease forwards;
    /* transform: scaleX(0); */
    transform-origin: left;
}

#css,
#c {
    text-align: right;
    width: 80%;
    animation: animate 3s ease forwards;
    /* transform: scaleX(0); */
    transform-origin: left;
}

#js,
#java {
    text-align: right;
    width: 60%;
    animation: animate 3s ease forwards;
    /* transform: scaleX(0); */
    transform-origin: left;
}

#sql {
    text-align: right;
    width: 70%;
    animation: animate 3s ease forwards;
    /* transform: scaleX(0); */
    transform-origin: left;
}

#portfolio {
    background-color: #F6F6F6;
}

.main-txt {
    /* border: 2px solid red; */
    /* padding-bottom: 40px; */
    /* margin-top: 350px; */
    margin-bottom: 190px;
}

.main-txt h2 {
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 48px;
    line-height: 1;
    text-align: center;
}

.main-txt h2 span {
    color: #C9416D;
}

.portfolio-content {
    padding: 60px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, auto));
    gap: 2.4rem;
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    /* box-shadow: 0 0 20px #F8CDCD; */
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    opacity: 0.9;
    background: linear-gradient(#ef9b9b, #F8CDCD);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: #1A1E29;
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    text-decoration-color: #C9416D;
    margin-top: 20px;
    margin-bottom: 17px;
}

.layer p {
    color: #1A1E29;
    font-size: 1.1rem;
    line-height: 1.3;
}

.layer i {
    color: #1A1E29;
    margin-top: 15px;
    font-size: 17px;
    /* background-color: #1A1E29; */
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* align-items: center; */
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 45px;
    line-height: 1;
    text-align: center;
    margin-bottom: 5px;
}

.contact-text h2 span {
    color: #C9416D;
}

.contact-text h4 {
    margin: 17px 37px;
    color: #1A1E29;
    font-size: 25px;
    font-weight: 300;
}

.contact-list {
    margin-top: 60px;
    margin-bottom: 20px;
    /* border: 2px solid red; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.contact_title {
    margin: 0.5rem;
}

/* .contact_title:hover {
    transform: scale(1.06) translateX(15px);
    font-size: 21px;
} */

.contact_subtitle {
    /* display: inline-block; */
    margin-left: 0.2rem;
    margin-bottom: 2rem;
}

.contact_subtitle {
    font-size: 15px;
}

#call,
#location {
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft .7s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

#call {
    margin-left: 1.5rem;
}

#location {
    margin-left: 3rem;

}

#mail {
    margin-left: 6rem;
    animation: slideRight 0.8s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-list i {
    color: #ef9b9b;
    font-size: 19px;
    transition: all 0.42s ease;
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.3rem;
}

.contact-icons i {
    /* border:  2px solid red; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    background: transparent;
    border: 2px solid #F8CDCD;
    color: #1A1E29;
    border-radius: 50%;
    font-size: 22px;
    margin: 0 15px 24px 7px;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: .5s;
}

.contact-icons i:hover {
    background: #F8CDCD;
    color: #1A1E29;
    /* box-shadow: 0 0 20px #F8CDCD; */
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 13px;
    background: #1A1E29;
    color: #fdeaea;
    font-size: 1.05rem;
    font-weight: 550px;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form-submit-btn {
    display: inline-flex;
    padding: 10px 50px 10px 50px;
    border: 2px solid #F8CDCD;
    background: transparent;
    border-radius: 42px;
    font-size: 17px;
    color: #1A1E29;
    letter-spacing: 1.2px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 207px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: .5s;

}

.contact-form-submit-btn:hover {
    background-color: #F8CDCD;
}

.footer {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #ef9b9b;
    font-weight: 200;
    margin-top: 75px;
}

.footer p {
    margin: 20px;
}

/* .top {
    position: fixed;
    bottom: 2.1rems;
    right: 2.1rems;
} */

/* 

.top {
    position: sticky;
    left: 0;
    bottom: 20%;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
}

.top:hover {
    background-color: #F8CDCD;
}

.top i {
    color: #1A1E29;
    background: #ef9b9b;
    font-size: 20px;
    padding: 12px;
    border-radius: 2rem;
} */

/* Show scroll
  .show-scroll {
    bottom: 5rem;
  } */


.scrollup {
    position: fixed;
    right: 1rem;
    bottom: 18%;
    background-color: #ef9b9b;
    border: 2px solid #F8CDCD;
    opacity: .8;
    padding-top: 0.2rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    border-radius: 0.5rem;
    /* z-index: var(--z-tooltip); */
    transition: 0.4s;
}

.scrollup:hover {
    border: 2px solid #ef9b9b;
    background-color: #F8CDCD;
}

.scroll-up-icon {
    color: #fdeaea;
    font-size: 1.7rem;
    font-weight: 500;
}